nav{
  width: 100%;
  text-align: left;
  background-color: grey;
  height: 80px;
}
ul li{
  display: inline;
  list-style: none;
  float: right;
  margin-right: 20px;
  padding-top: 20px;
}
ul li a{

}
ul li a:hover{
  background: yellow;
  text-decoration: none;
}
ul li a:active{
  background: green;
}
body{
  text-align: center;
  background-color: #aaff80;
  padding-top: 80px;
  padding-bottom: 40px;
}
.btn{
  float: right;
  font-size: 60px;
}
a.btn{
  font-size: 24px;
  background: transparent;
  border: none;
  border-radius: 0%;
  height: 80px;

  cursor: pointer;
  color: #00f28f;

  padding: 24px 0px;
  width: 33%;

  transition: background 1s, color 1s;
}
a.btn:hover{
  background: #00f28f;
  color: #fff;
}

#page1{
  height: 500px;
  background-color: #66ffff;
  margin-left: auto;
  margin-right: auto;
}
#page2{
  width: 80%;
  height: 500px;
  background-color: #66ffff;
  margin-left: auto;
  margin-right: auto;
}
#page3{
  width: 80%;
  height: 500px;
  background-color: #66ffff;
  margin-left: auto;
  margin-right: auto;
}
#about_me{
  border-radius: 50%;
}
