h1{
  color: red;
}
nav{
  width: 100%;
}
}
ul{
  width: 100%;
  float: right;
}
ul li{
  float: right;
  display: inline;
  list-style: none;
  margin-right: 20px;
  padding: 0px;
}
ul li a{
  display: block;
  padding: 10px 20px;
  margin: 0px 10px 20px 10px;
  font-family: sans-serif;
  background: white;

}
ul li a:hover{
  background: yellow;
  text-decoration: none;
}
ul li a:active{
  background: green;
}
body{
  text-align: center;
}
